@import url("common.css");

* {
	color: #FFFFFF;
}

header {
	background: none;
	border: none;
}

body {
	background-image: url(../img/background.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
}

h1 {
	font-size: 500%;
}

#main {
	/* 中央寄せに設定 */
	max-width: 600px;
	min-height: calc(100vh - 410px);
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	
	/* 文字揃えを設定 */
	text-align: center;
}

#main div {
	width: 100%;
}

#main form {
	margin: 60px 0 0 0;
}

footer {
	padding: 10px;
	width: calc(100% - 40px);
	height: auto;
	
	display: block;
}

#pickedbooks {
	padding: 10px 0 0 5px;
	display: flex;
	flex-direction: row;
	overflow-x: scroll;
	scrollbar-face-color:#8B4513;
	width: 100%;
	background-color: rgba(135, 102, 78, 0.5);
}

.book {
	padding: 0 5px;
	display: flex;
	flex-direction: column;
}

.book a img {
	width: 128px;
	height: 182px;
}

.book a {
	width: 128px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#pickedbooks::-webkit-scrollbar {
	height: 10px;	 
}

#pickedbooks::-webkit-scrollbar-track {
	background: #dddddd;
}
#pickedbooks::-webkit-scrollbar-thumb {
	background: #8B4513;
}