@import url("common.css");
@import url("cart.css");

section form input[type=radio] {
	margin: 5px;
}

section form {
	align-items: flex-end;
}

section form div {
	flex-grow: 1;
}

@media screen and ( max-width:800px ){
	#main {
		flex-wrap: wrap;
	}

	#main section {
		width: 100%;
	}
}

#store {
	position: relative;
	flex-grow: 2;
}

#cart {
	flex-grow: 3;
}