@import url("common.css");

#main section {
	position: relative;
}

#main section div {
	position: relative;
	z-index: 1;
	width: 50%;
	min-height: 460px;
}

#main p {
	margin: 10px;
}

#character {
	position: absolute;
	right: 0;
	bottom: 0;
	transition: all 300ms 0s ease;
}

@media screen and ( max-width:620px ) {
	#character {
		opacity: 0;
	}

	#main section div {
		width: 100%;
	}
}